<!-- <!DOCTYPE html>
<html lang="en">
<head>
     <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-app="">
        <p>My First Expression : {{10*10}}</p>
    </div>
</body>
</html> -->
 
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <title>AngularJS Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-app="" ng-init="mycol='yellow'">

    <input type="text"
           ng-model="mycol"
           ng-style="{'background-color': mycol}">
</div>
</body>
</html> -->

<!-- input bg color and txt color change -->
<!-- 
 <!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>

<div ng-app="" ng-init="bg='yellow'; txt='red'">

    Background Color:
    <input type="text" ng-model="bg"><br><br>

    Text Color:
    <input type="text" ng-model="txt"><br><br>

    <input type="text"value="Angular"ng-style="{'background-color': bg,'color': txt}">

</div>

</body>
</html>  -->

<!-- full backgroundcolor change -->

<!--<!DOCTYPE html>
<html>
<head>
    <title>AngularJS</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="" ng-init="bg='lightblue';txt='red'"
      ng-style="{'background-color': bg,'color':txt}">

    Enter Color:
    <input type="text" ng-model="bg"><br><br><br>

    Enter Text Color: 
    <input type="text" ng-model="txt">

    <h1>Hello AngularJS</h1>

</body>
</html> -->

 <!-- <!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-app=""ng-init="productQty=2;productprice=12000">
        <p>Product Samsung A30 , Qty=2 , Price = 12000</p>
        <p>Total Amount Paid : <Span ng-bind=" productQty*productprice |currency"></Span></p>
    </div>
</body>
</html>  -->


<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-app=""ng-init="FirstName='Amit';MidName='Kumar';Designation='Full Stack Developer'">

        {{FirstName + " "+MidName + " "+ Designation}}
        <p ng-bind='FirstName + " " + Midname + " "+ Designation'></p>
    </div>
</body>
</html> -->

 
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-app="">
        FirstName:<input type="text" ng-model="fname"><br><br>
        MidName:<input type="text" ng-model="mname"><br><br>

        LastName:<input type="text" ng-model="lname"><br><br>

        <span ng-bind="fname + ' '+ mname + ' ' +lname"></span>

    </div>
</body>

</html> -->


<!--<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-app=""ng-init="person={FirstName:'Amit',MidName:'Kumar',Designation:'Full Stack Developer'}">

       <p ng-bind="person.FirstName"></p>
        <p ng-bind="person.MidName"></p>
         <p ng-bind="person.Designation"></p>
    </div>
</body>

</html>-->

 
<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>
    <div ng-app="" ng-init="Array=[1,12,23,43,45,23,54,34,56,65]">

        <p>The Value access by Indexing : {{Array[5]}}</p>
        <p>The Value access by Indexing : {{Array.slice(0,7)}}</p>
        <p>Slice(0,3) : {{Array.slice(0,3)}}</p>

        <p>Slice(2,6) : {{Array.slice(2,6)}}</p>
    </div>
</body>

</html> -->



<!-- array.splice(startIndex, deleteCount) -->
<!DOCTYPE html>
<html>
<head>
    <title>AngularJS Splice Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl">

    <h2>Original Array</h2>
    <p>{{arr}}</p>

    <button ng-click="removeElements()">
        Remove Elements
    </button>

    <p>Removed Elements : {{removed}}</p>
    <p>Updated Array : {{arr}}</p>

    <hr>

    <button ng-click="insertElement()">
        Insert 100 at Index 2
    </button>
 <p>Insert Element : {{inserted}}</p>
    <p>Updated Array : {{arr}}</p>

    <hr>

    <button ng-click="replaceElement()">
        Replace Index 2 with 100
    </button>

    <p>Replaced Element : {{replaced}}</p>
    <p>Updated Array : {{arr}}</p>

<script>
var app = angular.module("myApp", []);

app.controller("myCtrl", function($scope) {

    $scope.arr = [10,20,30,40,50];

    $scope.removeElements = function() {
        $scope.removed = $scope.arr.splice(1,2);
    };

    $scope.insertElement = function() {
        $scope.inserted = 500; 
          $scope.arr.splice(2,0,500);
          //splice() always remove element return krta hai. isliye ya 0 element delet kiya ja rha toh [] dega jbki value insert hu jaegi
    };

    $scope.replaceElement = function() {
        $scope.replaced = $scope.arr.splice(2,2,100);
    };

});
</script>

</body>
</html>